@using Avance1P3.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
    <!-- Titulo de la pagina -->
    <h1 class="text-center mb-4">Listado de Empleados</h1>

    <!-- Tabla de Alumnos -->
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Cargo</th>
                <th>Email
                <th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in (ViewBag.empleado as IEnumerable<Empleados>))
            {
                <tr>
                    <td>@item.idempleado</td>
                    <td>@item.Nombre</td>
                    <td>@item.Telefono</td>
                    <td>@item.Cargo</td>
                    <td>@item.Email</td>

                    <td>
                        <a href="@Url.Action("VerEmpleado", "Home", new { id = @item.idempleado })" class="btn btn-info"><i class="bi bi-eye-fill"></i></a>
                    </td>
                    <td>
                        <a href="@Url.Action("BorrandoEmpleados", "Home", new { id = @item.idempleado })" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></a>
                    </td>
                    <td>
                        <a href="@Url.Action("EditarEmpleados", "Home", new { id = @item.idempleado })" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Agregar Empleados -->
    <h1 class="text-center mb-4 mt-5">Agregar Empleados</h1>

    @if (ViewBag.exito == 1)
    {
        <p class="alert alert-success">Se agregó correctamente</p>
    }
    else if (ViewBag.exito == 0)
    {
        <p class="alert alert-danger">Hubo un error al agregar</p>
    }

    <!-- Formulario para agregar Empleados -->
    <form action="/Home/AgregandoEmpleados" method="post" class="d-flex flex-column align-items-center">

        <div class="mb-3 w-50">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" id="Nombre" class="form-control" name="Nombre" placeholder="Ingrese nombre completo" required />
        </div>

        <div class="mb-3 w-50">
            <label for="Telefono" class="form-label">Telefono</label>
            <input type="text" id="Telefono" class="form-control" name="Telefono" placeholder="Ingrese el teléfono" required />
        </div>

        <div class="mb-3 w-50">
            <label for="Cargo" class="form-label">Cargo</label>
            <input type="text" id="Cargo" class="form-control" name="Cargo" placeholder="Ingrese el cargo" required />
        </div>


        <div class="mb-3 w-50">
            <label for="Email" class="form-label">Email</label>
            <input type="text" id="Email" class="form-control" name="Email" placeholder="Ingrese el E-mail" step="0.01" min="0" required />
        </div>

        <button class="btn btn-primary mt-3" type="submit">Agregar</button>
    </form>

</div>